#navigation li{
    font: Arial,sans-serif;
}

#navbarDropdownMenuLink{
  margin-left: 980%;
}

.dropdown-menu{
  margin-left: 980%;
}

.navbar-nav{
  text-align: center;
}

li{
    color: none;
}

  .banner{
      text-align: center;
      width: 100%;
  }
  
  form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    background-color: none;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    vertical-align: middle;
  }
  
  form div + div {
    margin-top: 0 auto;
    background-color:none;
  }
  
  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: block;
    text-align: center;
  }
  
  input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 365px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
  }
  
  textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
  }
  
  .button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px; /* même taille que les étiquettes */
  }
  
  button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    margin-left: .5em;
  }
  
  .button-submit{
text-align: center;
color: blue;
  }

  .background{
background: linear-gradient(#e66465, #9198e5); 
text-align: center;
height: 100vh;
  }

  .linear-gradient{
    background: linear-gradient(#e66465, #9198e5); 
    background-repeat: no-repeat;
    height: 100vh;
  }

  
