.banner {
  position: relative;
  background: url(assets/img/banner.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.box{
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  text-align: center;
  border-radius: 15px;
}

input{
  background: none;
  text-align: center;
  border: 2px solid pink;
  padding: 7px 5px;
  width: 250px;
  color: pink;
  border-radius: 10px;
}

.cardBox {
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 2%;
}

.card-footer {
  position: absolute;
  width: 80%;
  padding: 10px;
  bottom: -300px;
  left: 10%;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
  color: white;
  text-align: center;
}
.cardBox:hover .card-footer {
  bottom: 20px;
}

.img-veille{
  width: 100% ;
}

.body-color{
  background: linear-gradient(#e66465, #9198e5);
}
